<?xml version="1.0" ?>
<module>
    <namespace>NsEmail</namespace>
    <version>6.0.0</version>
    <author>Nexo Solutions LLC</author>
    <name>Email Service Driver</name>
    <description>Provides a convenient way of registering Email Service Drivers to NexoPOS.</description>
    <core min-version="6.0.0" max-version="6.99.0"/>
</module>
